.app-selector {
    display: flex;
    flex-direction: column;

    margin-top: 20px;
    padding-bottom: 20px;
    
    
  }
  
  .app-list {
    margin-top: 20px;
  }
  
  .app-list h3 {
    margin-bottom: 10px;
  }
  
  .app-list ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
   
  }
  
  .app-list li {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 40px;
  }
  
  .app-list li::before {
  
    content: '';
    height: 50px;
    border-left: 4px solid #ccc;
    position: absolute;
    margin-bottom:51px;
    left: 38px;
    
  }
  
   .app-list li:first-child::before {
    display: none;
  
   
  } 
  
  /* .app-list li::after{
  
  
    content: '';
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 4px solid #ccc;
    position: absolute;
    left: 30px;
    background-color: blueviolet;
    
  
  } */

  .applist-passed::after{
  
  
    content: '';
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 4px solid #ccc;
    position: absolute;
    left: 30px;
    background-color: rgba(0, 255, 106, 0.982);
    
  
  }
  .applist-failed::after{
    content: '';
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 4px solid #ccc;
    position: absolute;
    left: 30px;
    background-color: rgb(247, 5, 5);
  }

  
 
   



